<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Normel online monitoring</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="/static/css/monitor.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"><i
          class="material-icons  red-text text-darken-1">polymer</i>NORM<span
          class="red-text text-darken-1">EL</span></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Logout</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Contacts</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Logout</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Contacts</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Онлайн монитор</h1>
        <div class="row center">
          <h5 class="header col s12 light">Мониторинг параметров электросети и режима работы станции normel</h5>
        </div>
        <div class="row center">
          <a href="/" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Logout</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/static/img/lamp.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">




    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a class="active" href="#normel11">Normel №11</a></li>
          <li class="tab col s3 disabled"><a href="#normel12">Normel №12</a></li>
          <li class="tab col s3 disabled"><a href="#normel15">Normel №15</a></li>
          <li class="tab col s3 disabled"><a href="#normel20">Normel №20</a></li>
        </ul>
      </div>
      <div id="normel11" class="col s12">












        <div class="row">
          <div class="section">
            <h4 class="header center teal-text text-lighten-2">Станция NORMEL-M №11</h4>
            <p class="center">Адрес: Balti, mun Balti, str Sofia, 35</p>
          </div>
          <div class="divider"></div>
          <div class="section center-align">
            <p>Online data:</p>
            <!-- Switch -->
            <div class="switch">
              <label>
                Off
                <input type="checkbox" id="online">
                <span class="lever"></span>
                On
              </label>
            </div>
          </div>
          <div class="col s12"></div>
    
        </div>
    
        <!-- table 1 -->
        <div class="row">
          <div class="section">
    
            <h5 class="header center teal-text text-lighten-2">Текущие значения на выходе нормализатора, фактическая
              потребляемая мощность:</h5>
            <div class="col s1"></div>
            <div class="col s10">
    
              <table class="highlight responsive-table centered">
                <thead>
                  <tr>
                    <th>Средние показатели по фазам</th>
                    <th>Напряжение, В</th>
                    <th>Ток, A</th>
                    <th>Мощность, Вт</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Фаза А</td>
                    <td id="u1">0 B</td>
                    <td id="i1">0 A</td>
                    <td id="w1">0 kW</td>
                  </tr>
                  <tr>
                    <td>Фаза B</td>
                    <td id="u2">0 B</td>
                    <td id="i2">0 A</td>
                    <td id="w2">0 kW</td>
                  </tr>
                  <tr>
                    <td>Фаза C</td>
                    <td id="u3">0 B</td>
                    <td id="i3">0 A</td>
                    <td id="w3">0 kW</td>
                  </tr>
                  <tr>
                    <td>Суммарная мощность</td>
                    <td></td>
                    <td></td>
                    <td id="w_amount" class="tooltipped" data-tooltip="Суммарная мощность, Вт">0</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col s1"></div>
          </div>
        </div>
    
        <br>
        <br>
        <br>
    
        <!-- table 2 -->
        <div class="row">
          <div class="section">
    
            <h5 class="header center teal-text text-lighten-2">Текущие значения на входе нормализатора, потребляемая
              мощность в режиме транзит:</h5>
            <br>
            <div class="col s1"></div>
            <div class="col s10">
    
              <table class="highlight responsive-table centered">
                <thead>
                  <tr>
                    <th>Средние показатели по фазам</th>
                    <th>Напряжение, В</th>
                    <th>Ток, A</th>
                    <th>Мощность, Вт</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Фаза А</td>
                    <td id="u1_in">0 B</td>
                    <td id="i1_in">0 A</td>
                    <td id="w1_in">0 kW</td>
                  </tr>
                  <tr>
                    <td>Фаза B</td>
                    <td id="u2_in">0 B</td>
                    <td id="i2_in">0 A</td>
                    <td id="w2_in">0 kW</td>
                  </tr>
                  <tr>
                    <td>Фаза C</td>
                    <td id="u3_in">0 B</td>
                    <td id="i3_in">0 A</td>
                    <td id="w3_in">0 kW</td>
                  </tr>
                  <tr>
                    <td>Суммарная мощность</td>
                    <td></td>
                    <td></td>
                    <td id="w_amount_in" class="tooltipped" data-tooltip="Суммарная мощность, Вт">0</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col s1"></div>
          </div>
        </div>
    
        <br><br><br>
    
        <h5 class="header center teal-text text-lighten-2">Экономия потребления электрической мощности: <span
            id="subPower">0</span></h5>
    
        <br><br><br><br>
    
        <div class="divider"></div>
    
        <br><br><br><br>
    
        <div class="row">
          <div class="col s1"></div>
          <div class="col s10">
            <div class="row">
              <div class="col s12">
                <h5 class="header center teal-text text-lighten-2">Для расчета электрической энергии выберите выбирите
                  временной
                  диапазон:</h5>
              </div>
              <br><br><br><br>
              <!-- <div class="col s12 m1"></div> -->
              <div class="col s12 m2">
                <br>
                <input type="text" class="datepicker">
              </div>
              <div class="col s12 m1"></div>
              <div class="col s12 m2">
                <br>
                <input type="text" class="datepicker">
              </div>
              <div class="col s12 m1">
              </div>
              <div class="input-field col s12 m3">
                <input id="rateInput" placeholder="3.24" type="number" step="0.01" class="validate">
                <label for="rateInput">Тариф за электроэнергию, лей</label>
                <span class="helper-text" data-error="wrong" data-success="right"></span>
              </div>
              <div class="col s12 m1">
              </div>
              <div class="col s12 m2">
                <br>
                <a class="waves-effect waves-light btn">Расчитать</a>
              </div>
            </div>
          </div>
          <div class="col s1"></div>
        </div>
    
        <br><br>
    
    
        <!-- table 3 -->
        <div class="row">
          <div class="section">
    
            <div class="col s1"></div>
            <div class="col s10">
    
              <table class="highlight responsive-table">
                <thead>
                  <tr>
                    <th>Наименование параметра</th>
                    <th>Значение</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Экономия электрической энергии за указаный промежуток времени</td>
                    <td id="energy"></td>
                  </tr>
                  <tr>
                    <td>Тариф за электроэнергию, лей (1кВт)</td>
                    <td id="rate"></td>
                  </tr>
                  <tr>
                    <td>Экономический эффект, лей</td>
                    <td id="effect"></td>
                  </tr>
                  <tr>
                    <td>Экономия выброса CO2, т</td>
                    <td id="amountCo2"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col s1"></div>
          </div>
        </div>
    
     
    







      </div>
      <div id="normel12" class="col s12"></div>
      <div id="normel15" class="col s12"></div>
      <div id="normel20" class="col s12"></div>
    </div>









  </div>
  <!-- endofcontainer -->







  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Сохраняя электроэнергию мы сохраняем планету!</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/static/img/trees2.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Контактная информация</h5>
          <p class="grey-text text-lighten-4">
            "NORMEL-M" SRL<br>
            Ул. Дечебал, 72/1, г.Кишинев, Молдова<br>
            Моб. +373 600 055 50 +373 695 477 74
            Info@normel-m.com
          </p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Setting 1</a></li>
            <li><a class="white-text" href="#!">Setting 2</a></li>
            <li><a class="white-text" href="#!">Setting 3</a></li>
            <li><a class="white-text" href="#!">Setting 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Connect 1</a></li>
            <li><a class="white-text" href="#!">Connect 2</a></li>
            <li><a class="white-text" href="#!">Connect 3</a></li>
            <li><a class="white-text" href="#!">Connect 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        2022 <a class="brown-text text-lighten-3" href="#"></a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
  <script src="/static/js/materialize.min.js"></script>
  <script src="/static/js/init.js"></script>
  <script src="/static/js/monitor.js"></script>

</body>

</html>